.login{
  input:nth-of-type(3){
    border-top: none;
  }
}
.reg{
  font-size: 14px;
  color: #7f402e;
  text-align: center;
  line-height: 40px;
  display: block;
  font-weight: bold;
  width: 90.625%;
  margin: 0 auto;
  background-color: #e9e9d9;
  height: 40px;
  margin-bottom: 5px;
}
