.login{
  input:nth-of-type(3){
    border-top: none;
  }
  .rr{
      background-color: #e9e9d9;
      width: 90.625%;
      margin: 0 auto;
      color: #fff;
      height: 40px;
      display: block;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
      display: block;
      font-weight: bold;
      color: #7f402e;
      margin-top: 30px;
  }
}
