.moreMain{
  padding: 13px 2.5%;
  background-color: #f9f9f8;
  width: 95%;
  flex:1;
  overflow-y:auto;
  overflow-x: hidden;
}
.moreContent{
  overflow-y:auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
